<div class="quiz-pool">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>
            {{student.last_name}}
          </td>
          <td>
            {{student.first_name}}
          </td>
          <td>
            {{student.email}}
          </td>
          <td>
            {{student.phone}}
          </td>
          <td>
            {{student.dob}}
          </td>
        </tr>
      </tbody>
    </table>
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  
  