<div class="this loginForm container">

  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" class="credInput">
      <input matInput placeholder="Email" formControlName="loginEmail">
      <mat-error *ngIf="loginEmail.invalid && loginEmail.touched">
          Your email is invalid
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" class="credInput" color="white">
      <input type="password" matInput placeholder="Password" formControlName="loginPassword">
      <mat-error *ngIf="loginPassword.invalid && loginPassword.touched">
          Your password is invalid
      </mat-error>
    </mat-form-field>
    <br>

      <div class="link" 
      style="font-size:10px; text-align: right; margin-bottom: 5px;"
      (click)="forget()"
      >Forgot Password?</div>

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" style="width:100%">
      Login
    </button>
    <br>

    <!--
    <button mat-raised-button (click)="auth.googleLogin()" style="margin-top: 5px;">
        <i style="position: relative; top: -1px" class="fab fa-google"></i> Connect
    </button>
    -->
  
  </form>
  
  <!-- <button mat-raised-button color="primary" (click)="test()">Test</button> -->

</div>