.navbar > * {
    color: silver;
}

.navbar {
    min-height: 50px;
    display: flex;
    flex-direction: row;
}
.nav-link {
    color: silver;
}
.nav-link:hover {
    cursor: pointer;
    background-color: black;
}

.profile-complex {
    margin-right: 75%;
    margin-left: 15px;
}
.profile-complex:hover {
    cursor: pointer;
}

.drawer-button {
    position: fixed;
    /* top: 200px; */
    bottom: 50%;
    left: -30px;
    min-width: 0px;
    min-height: 0px;
    
    transform: scale(2);
    border-radius: 100%; 
    transition: left 1s;

    z-index: 2;
}

.drawer-button:hover {
    left: -10px;
    transition: left 1s;
}



.sidenav-container {

    z-index: 3;
}