<nav class="navbar container">

  <span class="profile-complex" [matMenuTriggerFor]="profileMenu">
    <span class="fa fa-user" 
    style="display: inline; font-size: 20px; margin-right: 15px"
    ></span>
    <span *ngIf="auth.user | async as user">{{user.displayName}} </span> 
    <span class="fas fa-chevron-down"></span>
  </span>

  <mat-menu #profileMenu="matMenu">
    
      <a class="nav-link" (click)="navigate('login')"
      *ngIf="!(auth.user | async)"
      ><span class="fas fa-sign-in-alt"></span> Login</a>

      <a class="nav-link" (click)="navigate('signup')"
      *ngIf="!(auth.user | async)"
      ><span class="fas fa-user-plus"></span> Signup</a>

      <a class="nav-link" [routerLink]="['/login']" (click)="auth.signOut()"
      *ngIf="(auth.user | async)"
      ><span class="fas fa-door-open"></span> Logout</a>

  </mat-menu>

  <mat-slide-toggle (click)="data.toggleEntity()" [checked]="data.entityType">Student/Prof</mat-slide-toggle>


</nav>

<button *ngIf="(auth.user | async)" mat-raised-button id="drawer-button-id" class="drawer-button" (click)="drawer.toggle();">
  <i class="fas fa-chevron-right"
  style="position: relative; left: 10px;" [hidden]="drawer.opened"></i>
</button>

<div class="sidenav-container">
    <mat-drawer-container>
      <mat-drawer #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" position="start" [opened]="(isHandset$ | async) ? 'false' : 'true'"
      >

        <app-sidenav></app-sidenav>
        <!-- <div class="nav-link sidenav-footer" 
        style="position: absolute; bottom: 0; width: 100%; text-align: center"
        (click)="drawer.toggle()">
          <span class="fas fa-arrow-left"></span>
        </div> -->
      </mat-drawer>

      <router-outlet></router-outlet>

    </mat-drawer-container>
</div>