<div class="pending-quizes">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">QuizName</th>
          <th scope="col">No Pages</th>
          <th scope="col" colspan="1"
          style="text-align: center">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of quizes">
          <td>
            {{quiz.structure.title}}
          </td>
          <td>
            {{quiz.structure.pages.length}}
          </td>
          <td style="text-align: center">
            <span class="fas fa-eye click"
            (click)="reviewQuiz(quiz.id)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  
  