<div>
  <div class="quiz-control">
    <table class="table" style="margin: 0">
      <thead class="thead-dark">
        <th>
          <mat-form-field>
            <input matInput placeholder="Asign">
          </mat-form-field>
        </th>
      </thead>
    </table>
  </div>
  <div id="editorElement"></div>
</div>