#editorElement {
    filter: invert(100%);
}

img {
    filter: invert(100%);
}

.sv_q_imgsel .image_item_editable .sv_q_imagepicker_inline {
    filter: invert(100%);
}

.mat-form-field-infix {
    border: 0;
}

div .mat-form-field-wrapper {
    padding-bottom: 0px!important;
}