<div class="quiz-pool">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">QuizName</th>
        <th scope="col">No Pages</th>
        <th scope="col">Assigned</th>
        <th scope="col" colspan="4"
        style="text-align: center">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of quizes">
        <td>
          {{quiz.structure.title}}
        </td>
        <td>
          {{quiz.structure.pages.length}}
        </td>
        <td>
          Assigned
        </td>
        <td>
          <mat-slide-toggle (click)="toggleActive(quiz.id)"
          [checked]="quiz.active ? 'true' : 'false'" color="primary"></mat-slide-toggle>
        </td>
        <td>
          <span class="fas fa-pen click"
          (click)="editQuiz(quiz.id)"></span>
        </td>
        <td>
          <span class="fas fa-eye click"
          (click)="reviewQuiz(quiz.id)"></span>
        </td>
        <td>
          <span class="fas fa-trash click"
          (click)="deleteQuiz(quiz.id)">
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

