<form class="form container" [formGroup]="signUpForm">
  <mat-form-field class="form-field">
    <input matInput placeholder="Email" formControlName="email">

    <mat-error *ngIf="signUpEmail.invalid && signUpEmail.touched">
      Your email is invalid
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="form-field">
    <input matInput placeholder="Display Name" formControlName="displayName">

    <mat-error *ngIf="signUpDisplayName.invalid && signUpDisplayName.touched">
      Please enter your name
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="form-field">
    <input type="password" matInput placeholder="Password" formControlName="password">
    
    <mat-error *ngIf="signUpPassword.invalid && signUpPassword.touched">
      Your password should contain at least one letter and one number and be at least 6 character long.
    </mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button [disabled]="signUpForm.invalid" (click)="auth.signUpWithEmail(signUpUser)" style="width: 100%">
    Sign Up
  </button>
</form>