/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
@import "./app/shared/themes/pink-bluegrey.css";


button:focus, input:focus {
    outline-style: none;
}


body{
    background-color: #262626;
    color: silver;
}

mat-sidenav-content{
    background-color: #262626;
}

.sidenav{
    background-color: #404040;
}

.container{
    max-width: 1300px;
    padding: 0;
}

.routeContainer {
    position: relative;
}
.routeContainer>* {
    display: block;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
      width: 100%;
    }
}