<div class="sidenav">
    <ul class="navbar-nav">

        <li class="nav-item"
        *ngIf="(auth.user | async)"
        >
          <a class="nav-link" (click)="navigate('')">
            <span class="fas fa-home"></span> Home
          </a>
        </li>

        <li class="nav-item"
        *ngIf="(auth.user | async)"
        >
          <a class="nav-link" (click)="navigate('student-pool')">
            <span class="fas fa-user"></span> Student Pool
          </a>
        </li>

        <li class="nav-item"
        *ngIf="(auth.user | async) && !data.entityType"
        >
          <a class="nav-link" (click)="navigate('pending-quizes')">
            <span class="fas fa-scroll"></span> Pending
          </a>
        </li>

        <li class="nav-item"
        *ngIf="(auth.user | async) && data.entityType"
        >
          <a class="nav-link" (click)="navigate('quiz-pool')">
            <span class="fas fa-scroll"></span> Quiz Pool
          </a>
        </li>

                <li class="nav-item"
        *ngIf="(auth.user | async) && data.entityType"
        >
          <a class="nav-link" (click)="navigate('editor')">
            <span class="fas fa-edit"></span> Editor
          </a>
        </li>
        
      </ul>
</div>
